<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicons -->
    <link href="#" rel="icon" />
    <!-- fontaswome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Google Fonts -->
    <!-- bootstrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <!-- CSS Template -->
    <link href="../static/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <section id="doctors" class="doctors">
        <div class="container">
          <div class="doctors-section-title">
            <h2 id="Doc">Doctors</h2>
          </div>

          <div class="container mb-5 mt-4">
            <div class="row scroll-container">
              <div class="col-md-4 scroll-item">
                <div class="card mt-3">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Anand</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4 scroll-item">
                <div class="card mt-3">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Cyril T Jhonson</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4 scroll-item">
                <div class="card mt-3">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Cyril T Jhonson</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4 scroll-item">
                <div class="card mt-3 cardclass">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Cyril T Jhonson</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4 scroll-item">
                <div class="card mt-3 cardclass">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Cyril T Jhonson</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4 scroll-item">
                <div class="card mt-3 cardclass">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Cyril T Jhonson</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-4 scroll-item">
                <div class="card mt-3 cardclass">
                  <div
                    class="product-1 align-items-center p-2 text-center imgclass"
                  >
                    <img
                      src="../static/doctor sample image.jpg"
                      class="rounded mb-2"
                      width="160"
                      alt="Image of doctor"
                    />
                    <h5>Cyril T Jhonson</h5>
                    <div class="mt-3 info">
                      <span class="text1 d-block">Dentist</span>
                      <span class="text1">He is a Dentist working in abc </span>
                    </div>
                  </div>
                  <div class="p-3 bg-danger text-center text-white mt-3 cursor">
                    <a
                      class="text-uppercase"
                      href="www.google.com"
                      style="color: white"
                      >Book Appointment</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
